<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dahar Apps</title>
</head>

<body>
  <a tabindex="1"href="#content" class="skip-link">Skip To Content</a>
  <button tabindex="2" id="menu" class="header-menu">☰</button>
  <header>
    <nav  class="nav" id="drawer">
      <ul class="nav-list">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="#">Favorite</a></li>
        <li class="nav-item" id="title">DAHAR</li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/akmalia-fatimah-77563721b/">About Us</a></li>
        <li class="nav-item" id="search"><a href="#">Search</a></li>
      </ul>  
    </nav>
  </header>

  <main>
    <div class="hero" id="hero"></div>
    <section>        
        <article class="wrapper-content" id="content">
        <div class="headline-title"><strong>Explore Restaurant</strong></div>
          <div class="content">
            <article class="content-item">
              <p tabindex="0" class="content-city"><strong>Medan</strong></p>
              <img tabindex="0" class="content-image" src="https://restaurant-api.dicoding.dev/images/medium/41" alt="Bring Your Phone Cafe-restaurant">
              <div class="content-text">
                <h2 tabindex="0" class="content-text-title"><strong>Bring Your Phone Cafe</strong></h2>
                <p tabindex="0" class="content-text-rating"><strong>4.6</strong></p>
                <p tabindex="0" class="content-text-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, est ea magnam, ut, possimus eum iure hic ullam mollitia quasi perspiciatis quo aliquam? Numquam veniam hic deleniti, accusamus culpa perferendis.</p>
              </div>
            </article>

            <article class="content-item">
              <p tabindex="0" class="content-city"><strong>Bali</strong></p>
              <img tabindex="0" class="content-image" src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Run The Gun-restaurant">
              <div class="content-text">
                <h2 tabindex="0" class="content-text-title"><strong>Run The Gun</strong></h2>
                <p tabindex="0" class="content-text-rating" alt="rating"><strong>4.6</strong></p>
                <p tabindex="0" class="content-text-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, est ea magnam, ut, possimus eum iure hic ullam mollitia quasi perspiciatis quo aliquam? Numquam veniam hic deleniti, accusamus culpa perferendis.</p>
              </div>
            </article>

            <article class="content-item">
              <p tabindex="0" class="content-city"><strong>Ternate</strong></p>
              <img tabindex="0" class="content-image" src="https://restaurant-api.dicoding.dev/images/medium/29" alt="Pangsit Express-restaurant">
              <div class="content-text">
                <h2 tabindex="0" class="content-text-title"><strong>Pangsit Express</strong></h2>
                <p tabindex="0" class="content-text-rating"><strong>4.8</strong></p>
                <p tabindex="0" class="content-text-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, est ea magnam, ut, possimus eum iure hic ullam mollitia quasi perspiciatis quo aliquam? Numquam veniam hic deleniti, accusamus culpa perferendis.</p>
              </div>
            </article>

            <article class="content-item">
              <p tabindex="0" class="content-city"><strong>Malang</strong></p>
              <img tabindex="0" class="content-image" src="https://restaurant-api.dicoding.dev/images/medium/38" alt="Ducky Duck-restaurant">
              <div class="content-text">
                <h2 tabindex="0" class="content-text-title"><strong>Ducky Duck</strong></h2>
                <p tabindex="0" class="content-text-rating"><strong>4.7</strong></p>
                <p tabindex="0" class="content-text-desc">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
              </div>
            </article>

            <article class="content-item">
              <p tabindex="0" class="content-city"><strong>Bali</strong></p>
              <img tabindex="0" class="content-image" src="https://restaurant-api.dicoding.dev/images/medium/40" alt="Kafein-restaurant">
              <div class="content-text">
                <h2 tabindex="0" class="content-text-title"><strong>Kafein</strong></h2>
                <p tabindex="0" class="content-text-rating"><strong>3.8</strong></p>
                <p tabindex="0" class="content-text-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, est ea magnam, ut, possimus eum iure hic ullam mollitia quasi perspiciatis quo aliquam? Numquam veniam hic deleniti, accusamus culpa perferendis.</p>
              </div>
            </article>

            <article class="content-item">
              <p tabindex="0" class="content-city"><strong>Malang</strong></p>
              <img tabindex="0" class="content-image" src="https://restaurant-api.dicoding.dev/images/medium/08" alt="Makan Mudah-restaurant">
              <div class="content-text">
                <h2 tabindex="0" class="content-text-title"><strong>Makan Mudah</strong></h2>
                <p tabindex="0" class="content-text-rating"><strong>4.6</strong></p>
                <p tabindex="0" class="content-text-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, est ea magnam, ut, possimus eum iure hic ullam mollitia quasi perspiciatis quo aliquam? Numquam veniam hic deleniti, accusamus culpa perferendis.</p>
              </div>
            </article>

            <article class="content-item">
              <p tabindex="0" class="content-city"><strong>Surabaya</strong></p>
              <img tabindex="0" class="content-image" src="https://restaurant-api.dicoding.dev/images/medium/32" alt="Saya Suka-restaurant">
              <div class="content-text">
                <h2 tabindex="0" class="content-text-title"><strong>Saya Suka</strong></h2>
                <p tabindex="0" class="content-text-rating"><strong>3.6</strong></p>
                <p tabindex="0" class="content-text-desc">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
              </div>
            </article>

            <article class="content-item">
              <p tabindex="0" class="content-city"><strong>Aceh</strong></p>
              <img tabindex="0" class="content-image" src="https://restaurant-api.dicoding.dev/images/medium/45" alt="Gigitan Cepat-restaurant">
              <div class="content-text">
                <h2 tabindex="0" class="content-text-title"><strong>Gigitan Cepat"</strong></h2>
                <p tabindex="0" class="content-text-rating"><strong>4</strong></p>
                <p tabindex="0" class="content-text-desc">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
              </div>
            </article>

            <article class="content-item">
              <p tabindex="0" class="content-city"><strong>Malang</strong></p>
              <img tabindex="0" class="content-image" src="https://restaurant-api.dicoding.dev/images/medium/04" alt="Fairy Cafe-restaurant">
              <div class="content-text">
                <h2 tabindex="0" class="content-text-title"><strong>Fairy Cafe</strong></h2>
                <p tabindex="0" class="content-text-rating"><strong>3.9</strong></p>
                <p tabindex="0" class="content-text-desc">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
              </div>
            </article>
        </div>
      </article>

    </section>

  </main>

  <footer >
    <div tabindex="0" class="text-footer">Dahar Apps</div>
  </footer>
</body>
</html>
